.messageBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.messageBox .message {
  color: aliceblue;
  font-size: 10px;
  /* width: 100%; */
  text-align: center;
}
